<div class="row justify-content-center">
  <div class="col-9 text-center">
    <h1>Link your business card</h1>

    <h1>to unlock cashback offers</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-9">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Lorem ipsum dolor sit</th>
          <th scope="col">Facere facilis corrupti</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Lorem ipsum dolor sit amet</th>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
              <label class="form-check-label" for="inlineCheckbox1"></label>
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
              <label class="form-check-label" for="inlineCheckbox1"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th>Molestias sit et maxime iste voluptate</th>
          <td></td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
              <label class="form-check-label" for="inlineCheckbox1"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th>Hic nihil voluptas nesciunt</th>
          <td></td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
              <label class="form-check-label" for="inlineCheckbox1"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th>Molestias sit et maxime iste voluptate</th>
          <td></td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
              <label class="form-check-label" for="inlineCheckbox1"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th>Hic nihil voluptas nesciunt</th>
          <td></td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
              <label class="form-check-label" for="inlineCheckbox1"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
